# Environment
.env

# Data & Volumes
data/raw/
volumes/

# Logs
logs/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual Environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.DS_Store

# Airflow
airflow.cfg
airflow.db
standalone_admin_password.txt
unittests.cfg